header {
    background-color: #2A708C

}
nav a {
    color: #fff;
    text-decoration: none;


}

.header ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: block;

}

li { 
float: left;
padding: 25px;
text-align: center;



}
a :visited {
    color: #fff;
}


body {
    background-color: #EFEEEE;
}


