.header {
    background-color: rgb(42, 112,140);
}

nav a {
    color: #fff;
    text-decoration-line: none;
    list-style-type: none;
}


a :visited {
    color: #fff;
}

body {
    background-color: #EFEEEE;
}


